-- MySQL dump 10.13  Distrib 9.4.0, for Win64 (x86_64)
--
-- Host: localhost    Database: traffic_training
-- ------------------------------------------------------
-- Server version	9.4.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ability_assessment`
--

DROP TABLE IF EXISTS `ability_assessment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ability_assessment` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '测评ID',
  `student_id` bigint NOT NULL COMMENT '关联student.id',
  `total_score` int NOT NULL COMMENT '总分',
  `sign_score` int NOT NULL COMMENT '交通标志得分',
  `law_score` int NOT NULL COMMENT '交通法规得分',
  `safe_score` int NOT NULL COMMENT '安全常识得分',
  `drive_score` int NOT NULL COMMENT '驾驶理论得分',
  `level` varchar(16) DEFAULT NULL COMMENT '能力等级',
  `weak_know` text COMMENT '薄弱方面',
  `create_time` datetime DEFAULT NULL COMMENT '测评时间',
  PRIMARY KEY (`id`),
  KEY `ix_ability_assessment_student_id` (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ability_assessment`
--

LOCK TABLES `ability_assessment` WRITE;
/*!40000 ALTER TABLE `ability_assessment` DISABLE KEYS */;
/*!40000 ALTER TABLE `ability_assessment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin`
--

DROP TABLE IF EXISTS `admin`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `admin` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '平台管理员ID',
  `email` varchar(64) NOT NULL COMMENT '登录邮箱',
  `password` varchar(64) NOT NULL COMMENT '密码(bcrypt加密)',
  `admin_type` tinyint NOT NULL DEFAULT '2' COMMENT '管理员类型: 1超级/2内容/3运营',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态: 1正常/2禁用',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='平台管理员表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin`
--

LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;
INSERT INTO `admin` VALUES (1,'admin@qq.com','$2b$12$sPTWgsq9sarGXqBKIPuEzOYVM4GBSWLCRgDnqT9VA7q1OMN05I9jm',2,1,'2026-06-27 08:55:16','2026-06-27 15:20:20');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_chat`
--

DROP TABLE IF EXISTS `ai_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_chat` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '对话ID',
  `student_id` bigint NOT NULL COMMENT '关联student.id',
  `user_msg` text NOT NULL COMMENT '用户提问',
  `ai_msg` text NOT NULL COMMENT 'AI回复',
  `is_collect` tinyint NOT NULL DEFAULT '0' COMMENT '1收藏 0未收藏',
  `is_deleted` tinyint NOT NULL DEFAULT '0' COMMENT '1已删除 0正常',
  `expire_time` datetime DEFAULT NULL COMMENT '过期时间',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '对话时间',
  PRIMARY KEY (`id`),
  KEY `idx_student` (`student_id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='AI对话表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_chat`
--

LOCK TABLES `ai_chat` WRITE;
/*!40000 ALTER TABLE `ai_chat` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ai_learning_path`
--

DROP TABLE IF EXISTS `ai_learning_path`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ai_learning_path` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '路径ID',
  `student_id` bigint NOT NULL COMMENT '学员ID',
  `study_subject` smallint DEFAULT NULL COMMENT '学习方向: 1/4/5',
  `evaluation_id` bigint DEFAULT NULL COMMENT '关联的测评记录ID',
  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'AI生成的完整学习路径JSON',
  `generated_at` datetime DEFAULT NULL COMMENT '生成时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_student_subject_path` (`student_id`,`study_subject`),
  CONSTRAINT `ai_learning_path_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ai_learning_path`
--

LOCK TABLES `ai_learning_path` WRITE;
/*!40000 ALTER TABLE `ai_learning_path` DISABLE KEYS */;
/*!40000 ALTER TABLE `ai_learning_path` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_message`
--

DROP TABLE IF EXISTS `chat_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_message` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '娑堟伅ID',
  `conversation_id` bigint NOT NULL COMMENT '浼氳瘽ID',
  `sender_type` varchar(20) NOT NULL COMMENT '鍙戦?鑰呯被鍨? student/coach',
  `sender_id` bigint NOT NULL COMMENT '鍙戦?鑰匢D',
  `content` text NOT NULL COMMENT '娑堟伅鍐呭?',
  `message_type` tinyint DEFAULT '1' COMMENT '娑堟伅绫诲瀷: 1鏂囨湰/2鍥剧墖/3鏂囦欢',
  `status` tinyint DEFAULT '1' COMMENT '鐘舵?: 1宸插彂閫?2宸茶?/3宸叉挙鍥',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  PRIMARY KEY (`id`),
  KEY `idx_conversation` (`conversation_id`,`create_time`),
  CONSTRAINT `fk_msg_conv` FOREIGN KEY (`conversation_id`) REFERENCES `conversation` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='鑱婂ぉ娑堟伅琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_message`
--

LOCK TABLES `chat_message` WRITE;
/*!40000 ALTER TABLE `chat_message` DISABLE KEYS */;
/*!40000 ALTER TABLE `chat_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coach`
--

DROP TABLE IF EXISTS `coach`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coach` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '教练ID',
  `email` varchar(64) NOT NULL COMMENT '登录邮箱',
  `password` varchar(64) NOT NULL COMMENT '密码(bcrypt加密)',
  `school_name` varchar(64) NOT NULL COMMENT '所属驾校名称',
  `school_address` varchar(255) DEFAULT NULL COMMENT '驾校地址',
  `school_phone` varchar(20) DEFAULT NULL COMMENT '驾校联系电话',
  `train_type` tinyint NOT NULL DEFAULT '1' COMMENT '培训类型: 1驾考/2客运/3货运/4危险品',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态: 1正常/2离职/3禁用',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `name` varchar(32) DEFAULT NULL COMMENT '教练姓名',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='教练表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coach`
--

LOCK TABLES `coach` WRITE;
/*!40000 ALTER TABLE `coach` DISABLE KEYS */;
INSERT INTO `coach` VALUES (1,'coach@qq.com','$2b$12$72eZVhZpkhjPdsjps.38BehYhB/Z.0ZjjDK0P6RMhEGUpq8o35o0G','白云驾校',NULL,'',1,1,'2026-06-27 15:19:23','2026-06-27 15:19:23',NULL);
/*!40000 ALTER TABLE `coach` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conversation`
--

DROP TABLE IF EXISTS `conversation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conversation` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '浼氳瘽ID',
  `coach_id` bigint NOT NULL COMMENT '鏁欑粌ID',
  `student_id` bigint NOT NULL COMMENT '瀛﹀憳ID',
  `last_message` varchar(500) DEFAULT NULL COMMENT '鏈?悗涓?潯娑堟伅鎽樿?',
  `last_message_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鏈?悗娑堟伅鏃堕棿',
  `unread_coach` int DEFAULT '0' COMMENT '鏁欑粌鏈??鏁',
  `unread_student` int DEFAULT '0' COMMENT '瀛﹀憳鏈??鏁',
  `status` tinyint DEFAULT '1' COMMENT '鐘舵?: 1姝ｅ父/2宸插綊妗',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '鍒涘缓鏃堕棿',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_coach_student` (`coach_id`,`student_id`),
  KEY `idx_coach` (`coach_id`),
  KEY `idx_student` (`student_id`),
  KEY `idx_last_msg_time` (`last_message_time`),
  CONSTRAINT `fk_conv_coach` FOREIGN KEY (`coach_id`) REFERENCES `coach` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_conv_student` FOREIGN KEY (`student_id`) REFERENCES `student` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='鏁欑粌-瀛﹀憳浼氳瘽琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conversation`
--

LOCK TABLES `conversation` WRITE;
/*!40000 ALTER TABLE `conversation` DISABLE KEYS */;
INSERT INTO `conversation` VALUES (1,1,1,'x小明','2026-07-01 09:01:02',0,0,1,'2026-06-30 10:43:29'),(2,1,5,'hi','2026-07-01 08:56:17',0,0,1,'2026-07-01 08:15:39');
/*!40000 ALTER TABLE `conversation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `course`
--

DROP TABLE IF EXISTS `course`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `course` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '课程ID',
  `name` varchar(128) NOT NULL COMMENT '课程名称',
  `description` text COMMENT '课程描述',
  `train_type` tinyint DEFAULT '1' COMMENT '培训类型',
  `status` tinyint DEFAULT '1' COMMENT '状态: 1正常/2禁用',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='课程表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `course`
--

LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course` DISABLE KEYS */;
/*!40000 ALTER TABLE `course` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `error_question`
--

DROP TABLE IF EXISTS `error_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `error_question` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '记录ID',
  `student_id` bigint NOT NULL COMMENT '关联student.id',
  `question_id` bigint NOT NULL COMMENT '关联题库表ID',
  `source` varchar(20) NOT NULL DEFAULT 'subject1' COMMENT '来源: subject1/subject4/professional',
  `error_type` smallint DEFAULT '4' COMMENT '错因: 1概念不清/2审题失误/3混淆记忆/4其他',
  `error_count` int DEFAULT '1' COMMENT '错误次数',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_student_question` (`student_id`,`question_id`,`source`),
  KEY `idx_student` (`student_id`),
  KEY `idx_question` (`question_id`,`source`)
) ENGINE=InnoDB AUTO_INCREMENT=1399 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='错题本表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `error_question`
--

LOCK TABLES `error_question` WRITE;
/*!40000 ALTER TABLE `error_question` DISABLE KEYS */;
/*!40000 ALTER TABLE `error_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `evaluation`
--

DROP TABLE IF EXISTS `evaluation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `evaluation` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '测评ID',
  `student_id` bigint NOT NULL COMMENT '关联student.id',
  `study_subject` smallint NOT NULL DEFAULT '1',
  `total_score` int DEFAULT '0' COMMENT '总分',
  `sign_score` int DEFAULT NULL COMMENT '交通标志得分',
  `law_score` int DEFAULT NULL COMMENT '交通法规得分',
  `safe_score` int DEFAULT NULL COMMENT '安全常识得分',
  `drive_score` int DEFAULT NULL COMMENT '驾驶理论得分',
  `level` varchar(16) DEFAULT NULL COMMENT '能力等级',
  `weak_know` text COMMENT '薄弱知识点(JSON)',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '测评时间',
  `simple_rate` int DEFAULT '0' COMMENT '简单题全局正确率(%)',
  `mid_rate` int DEFAULT '0' COMMENT '中等题全局正确率(%)',
  `diff_detail` text COMMENT '难度分层详情(JSON)',
  PRIMARY KEY (`id`),
  KEY `idx_student` (`student_id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='能力测评表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `evaluation`
--

LOCK TABLES `evaluation` WRITE;
/*!40000 ALTER TABLE `evaluation` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `feedback`
--

DROP TABLE IF EXISTS `feedback`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `feedback` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '反馈ID',
  `user_type` tinyint NOT NULL COMMENT '用户类型: 1学员/2教练',
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `type` tinyint DEFAULT '3' COMMENT '反馈类型: 1故障/2学习/3建议/4投诉',
  `content` text COMMENT '反馈内容',
  `handler_id` bigint DEFAULT NULL COMMENT '处理人ID(关联admin.id)',
  `reply` text COMMENT '回复内容',
  `status` tinyint DEFAULT '1' COMMENT '状态: 1待处理/2处理中/3已办结',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_type`,`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='用户反馈表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `feedback`
--

LOCK TABLES `feedback` WRITE;
/*!40000 ALTER TABLE `feedback` DISABLE KEYS */;
/*!40000 ALTER TABLE `feedback` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `knowledge`
--

DROP TABLE IF EXISTS `knowledge`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `knowledge` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '知识点ID',
  `category_name` varchar(64) DEFAULT NULL COMMENT '分类名称',
  `category_code` varchar(64) DEFAULT NULL COMMENT '分类编码',
  `name` varchar(128) NOT NULL COMMENT '知识点名称',
  `content` text COMMENT '知识点内容',
  `parent_id` bigint DEFAULT NULL COMMENT '父知识点ID',
  `status` tinyint DEFAULT '1' COMMENT '状态: 1正常/2禁用',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_category_code` (`category_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='知识点表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `knowledge`
--

LOCK TABLES `knowledge` WRITE;
/*!40000 ALTER TABLE `knowledge` DISABLE KEYS */;
/*!40000 ALTER TABLE `knowledge` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `material`
--

DROP TABLE IF EXISTS `material`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `material` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '资料ID',
  `course_id` bigint DEFAULT NULL COMMENT '关联course.id',
  `know_id` bigint DEFAULT NULL COMMENT '关联knowledge.id',
  `title` varchar(128) NOT NULL COMMENT '资料标题',
  `url` varchar(255) DEFAULT NULL COMMENT '资料URL',
  `file_type` varchar(16) DEFAULT NULL COMMENT '文件类型',
  `status` tinyint DEFAULT '1' COMMENT '状态: 1正常/2禁用',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_course` (`course_id`),
  KEY `idx_know` (`know_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='学习资料表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `material`
--

LOCK TABLES `material` WRITE;
/*!40000 ALTER TABLE `material` DISABLE KEYS */;
/*!40000 ALTER TABLE `material` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `message`
--

DROP TABLE IF EXISTS `message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `message` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '消息ID',
  `receive_type` tinyint NOT NULL COMMENT '接收者类型: 1学员/2教练/3管理员',
  `receive_id` bigint NOT NULL COMMENT '接收者ID',
  `title` varchar(64) NOT NULL COMMENT '消息标题',
  `content` text COMMENT '消息内容',
  `type` tinyint DEFAULT '1' COMMENT '消息类型: 1提醒/2公告/3成绩/4任务',
  `channel` tinyint DEFAULT '1' COMMENT '渠道: 1站内/2邮箱',
  `status` tinyint DEFAULT '1' COMMENT '状态: 1未读/2已读/3删除',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  KEY `idx_receive` (`receive_type`,`receive_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='消息通知表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `message`
--

LOCK TABLES `message` WRITE;
/*!40000 ALTER TABLE `message` DISABLE KEYS */;
/*!40000 ALTER TABLE `message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `note`
--

DROP TABLE IF EXISTS `note`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `note` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '笔记ID',
  `student_id` bigint NOT NULL COMMENT '关联student.id',
  `content` text COMMENT '笔记内容',
  `status` tinyint DEFAULT '1' COMMENT '状态: 1待审核/2已上线/3驳回',
  `like_count` int DEFAULT '0' COMMENT '点赞数',
  `collect_count` int DEFAULT '0' COMMENT '收藏数',
  `comment` text COMMENT '评论(JSON)',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  KEY `idx_student` (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='笔记互动表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `note`
--

LOCK TABLES `note` WRITE;
/*!40000 ALTER TABLE `note` DISABLE KEYS */;
/*!40000 ALTER TABLE `note` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '通知ID',
  `title` varchar(128) NOT NULL COMMENT '通知标题',
  `content` text NOT NULL COMMENT '通知内容',
  `type` smallint NOT NULL DEFAULT '1' COMMENT '类型: 1系统公告/2培训通知/3其他',
  `target_role` smallint NOT NULL DEFAULT '3' COMMENT '接收角色: 1教练/2学员/3全部',
  `publisher_id` bigint NOT NULL COMMENT '发布者(管理员)ID',
  `status` smallint NOT NULL DEFAULT '1' COMMENT '状态: 1草稿/2已发布/3已撤回',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `publish_time` datetime DEFAULT NULL COMMENT '发布时间',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
INSERT INTO `notification` VALUES (1,'全体注意','123',2,3,1,3,'2026-07-01 11:14:23','2026-07-01 11:14:23'),(2,'123','1',2,3,1,2,'2026-07-01 11:21:15','2026-07-01 11:21:15'),(3,'2313213','1232',3,3,1,2,'2026-07-01 11:24:39','2026-07-01 11:24:39');
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `practice_exam`
--

DROP TABLE IF EXISTS `practice_exam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `practice_exam` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '记录ID',
  `student_id` bigint NOT NULL COMMENT '关联student.id',
  `biz_type` smallint DEFAULT '1' COMMENT '类型: 1练习/2考试',
  `subject` smallint DEFAULT '1' COMMENT '科目',
  `question_ids` text COMMENT '题目ID列表(逗号分隔)',
  `user_answers` text COMMENT '用户答案(JSON)',
  `total_time` int DEFAULT '0' COMMENT '总用时(秒)',
  `score` int DEFAULT '0' COMMENT '得分',
  `correct_rate` decimal(5,2) DEFAULT '0.00' COMMENT '正确率(%)',
  `status` smallint DEFAULT '1' COMMENT '状态: 1进行中/2已完成/3已交卷',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '开始时间',
  `end_time` datetime DEFAULT NULL COMMENT '结束时间',
  PRIMARY KEY (`id`),
  KEY `idx_student` (`student_id`)
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='练习考试记录表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `practice_exam`
--

LOCK TABLES `practice_exam` WRITE;
/*!40000 ALTER TABLE `practice_exam` DISABLE KEYS */;
/*!40000 ALTER TABLE `practice_exam` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `professional_question`
--

DROP TABLE IF EXISTS `professional_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `professional_question` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '记录ID',
  `question_number` int NOT NULL COMMENT '题号',
  `question_type` varchar(16) NOT NULL COMMENT '题型: 判断题/单选题/多选题',
  `question_text` text NOT NULL COMMENT '题干',
  `option_a` varchar(255) DEFAULT NULL COMMENT 'A选项',
  `option_b` varchar(255) DEFAULT NULL COMMENT 'B选项',
  `option_c` varchar(255) DEFAULT NULL COMMENT 'C选项',
  `option_d` varchar(255) DEFAULT NULL COMMENT 'D选项',
  `correct_answer` varchar(16) NOT NULL COMMENT '正确答案',
  `image_file` varchar(255) DEFAULT NULL COMMENT '附图文件名',
  `difficulty` int DEFAULT '1' COMMENT '难度: 1-5',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `category` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_number` (`question_number`)
) ENGINE=InnoDB AUTO_INCREMENT=554 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='专业人员题库';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `professional_question`
--

LOCK TABLES `professional_question` WRITE;
/*!40000 ALTER TABLE `professional_question` DISABLE KEYS */;
/*!40000 ALTER TABLE `professional_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `question_record`
--

DROP TABLE IF EXISTS `question_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `question_record` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '记录ID',
  `student_id` bigint NOT NULL COMMENT '学员ID',
  `question_id` bigint NOT NULL COMMENT '题目ID',
  `source` varchar(20) NOT NULL COMMENT '题库来源: subject1/subject4/professional',
  `category` varchar(20) DEFAULT NULL COMMENT '分类: 交通标志/交通法规/安全常识/驾驶理论',
  `is_correct` smallint DEFAULT NULL COMMENT '是否正确: 1正确/0错误',
  `answer_time` datetime DEFAULT NULL COMMENT '答题时间',
  PRIMARY KEY (`id`),
  KEY `ix_question_record_student_id` (`student_id`),
  KEY `ix_question_record_question_id` (`question_id`),
  KEY `idx_record_student_category` (`student_id`,`category`),
  KEY `idx_record_student_question` (`student_id`,`question_id`,`source`),
  CONSTRAINT `question_record_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=207 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `question_record`
--

LOCK TABLES `question_record` WRITE;
/*!40000 ALTER TABLE `question_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `question_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `special_training_session`
--

DROP TABLE IF EXISTS `special_training_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `special_training_session` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '记录ID',
  `student_id` bigint NOT NULL COMMENT '学员ID',
  `category` varchar(20) NOT NULL COMMENT '分类: 交通标志/交通法规/安全常识/驾驶理论',
  `question_count` int DEFAULT '0' COMMENT '题目数量',
  `correct_count` int DEFAULT '0' COMMENT '正确题数',
  `correct_rate` float DEFAULT '0' COMMENT '正确率',
  `submit_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '提交时间',
  PRIMARY KEY (`id`),
  KEY `idx_session_student_time` (`student_id`,`submit_time`),
  CONSTRAINT `fk_session_student` FOREIGN KEY (`student_id`) REFERENCES `student` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='专项训练提交记录表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `special_training_session`
--

LOCK TABLES `special_training_session` WRITE;
/*!40000 ALTER TABLE `special_training_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `special_training_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '学员ID',
  `email` varchar(64) NOT NULL COMMENT '登录邮箱',
  `password` varchar(64) NOT NULL COMMENT '密码(bcrypt加密)',
  `name` varchar(32) DEFAULT NULL COMMENT '姓名',
  `coach_id` bigint DEFAULT NULL COMMENT '专属教练ID',
  `train_type` tinyint NOT NULL DEFAULT '1' COMMENT '培训类型: 1驾考/2客运/3货运/4危险品',
  `car_type` varchar(8) DEFAULT NULL COMMENT '报考车型: C1/C2/A1/A2',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态: 1正常/2结业/3弃学/4禁用',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `study_subject` smallint DEFAULT '1' COMMENT '学习方向: 1科目一/4科目四/3专业人员',
  `evaluation_status` tinyint DEFAULT '0' COMMENT '测评状态: 0未测评/1已完成',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_email` (`email`),
  KEY `idx_coach_id` (`coach_id`),
  CONSTRAINT `fk_student_coach` FOREIGN KEY (`coach_id`) REFERENCES `coach` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='学员表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
INSERT INTO `student` VALUES (1,'student@qq.com','$2b$12$YYp/T3ZY2SboSMv1yJGLJOULBaM6kDuuMi9pA42Dvbr3zFuaMGeD2','小明',1,1,'A1',1,'2026-06-25 10:19:45','2026-07-01 10:33:21',1,1),(5,'2835758505@qq.com','$2b$12$IecTPUWivXIGnzIIG1ykKeO2rS7bV6Brm7V5T36Z8KmArkmPLeYWy','小刘',1,1,'C1',1,'2026-07-01 08:13:44','2026-07-01 10:54:40',1,0);
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_question_memory`
--

DROP TABLE IF EXISTS `student_question_memory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `student_question_memory` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '记录ID',
  `student_id` bigint NOT NULL COMMENT '关联student.id',
  `question_id` bigint NOT NULL COMMENT '关联题库表ID',
  `source` varchar(20) NOT NULL DEFAULT 'subject1' COMMENT '来源: subject1/subject4/professional',
  `memory_strength` double DEFAULT '1' COMMENT '记忆强度(0-1)',
  `review_count` int DEFAULT '0' COMMENT '复习次数',
  `last_review_time` datetime DEFAULT NULL,
  `next_review_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_student_question` (`student_id`,`question_id`,`source`),
  KEY `idx_student` (`student_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='学员题目记忆曲线表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_question_memory`
--

LOCK TABLES `student_question_memory` WRITE;
/*!40000 ALTER TABLE `student_question_memory` DISABLE KEYS */;
INSERT INTO `student_question_memory` VALUES (1,1,980,'subject1',0.5,1,'2026-06-29 09:30:50','2026-06-30 09:30:50');
/*!40000 ALTER TABLE `student_question_memory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `study_plan`
--

DROP TABLE IF EXISTS `study_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `study_plan` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '计划ID',
  `student_id` bigint NOT NULL COMMENT '关联student.id',
  `study_subject` smallint DEFAULT '1' COMMENT '学习方向: 1/4/5',
  `plan_type` smallint DEFAULT '1' COMMENT '计划类型: 1长期/2每日任务',
  `content` varchar(255) DEFAULT NULL COMMENT '计划内容',
  `task_date` date DEFAULT NULL COMMENT '任务日期',
  `status` smallint DEFAULT '1' COMMENT '状态: 1未开始/2进行中/3已完成/4逾期',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`id`),
  KEY `idx_student` (`student_id`),
  KEY `idx_task_date` (`task_date`),
  KEY `idx_student_subject` (`student_id`,`study_subject`)
) ENGINE=InnoDB AUTO_INCREMENT=296 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='学习计划表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `study_plan`
--

LOCK TABLES `study_plan` WRITE;
/*!40000 ALTER TABLE `study_plan` DISABLE KEYS */;
/*!40000 ALTER TABLE `study_plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subject1_question`
--

DROP TABLE IF EXISTS `subject1_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subject1_question` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '记录ID',
  `question_number` int NOT NULL COMMENT '题号',
  `question_type` varchar(16) NOT NULL COMMENT '题型: 判断题/单选题/多选题',
  `question_text` text NOT NULL COMMENT '题干',
  `option_a` varchar(255) DEFAULT NULL COMMENT 'A选项',
  `option_b` varchar(255) DEFAULT NULL COMMENT 'B选项',
  `option_c` varchar(255) DEFAULT NULL COMMENT 'C选项',
  `option_d` varchar(255) DEFAULT NULL COMMENT 'D选项',
  `correct_answer` varchar(16) NOT NULL COMMENT '正确答案',
  `image_file` varchar(255) DEFAULT NULL COMMENT '附图文件名',
  `difficulty` int DEFAULT '1' COMMENT '难度: 1-5',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `category` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_number` (`question_number`)
) ENGINE=InnoDB AUTO_INCREMENT=1695 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='科目一题库';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subject1_question`
--

LOCK TABLES `subject1_question` WRITE;
/*!40000 ALTER TABLE `subject1_question` DISABLE KEYS */;
/*!40000 ALTER TABLE `subject1_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `subject4_question`
--

DROP TABLE IF EXISTS `subject4_question`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subject4_question` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '记录ID',
  `question_number` int NOT NULL COMMENT '题号',
  `question_type` varchar(16) NOT NULL COMMENT '题型: 判断题/单选题/多选题',
  `question_text` text NOT NULL COMMENT '题干',
  `option_a` varchar(255) DEFAULT NULL COMMENT 'A选项',
  `option_b` varchar(255) DEFAULT NULL COMMENT 'B选项',
  `option_c` varchar(255) DEFAULT NULL COMMENT 'C选项',
  `option_d` varchar(255) DEFAULT NULL COMMENT 'D选项',
  `correct_answer` varchar(16) NOT NULL COMMENT '正确答案',
  `image_file` varchar(255) DEFAULT NULL COMMENT '附图文件名',
  `difficulty` int DEFAULT '1' COMMENT '难度: 1-5',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `category` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_number` (`question_number`)
) ENGINE=InnoDB AUTO_INCREMENT=1496 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='科目四题库';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subject4_question`
--

LOCK TABLES `subject4_question` WRITE;
/*!40000 ALTER TABLE `subject4_question` DISABLE KEYS */;
/*!40000 ALTER TABLE `subject4_question` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sys_log`
--

DROP TABLE IF EXISTS `sys_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sys_log` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '日志ID',
  `user_type` tinyint NOT NULL COMMENT '用户类型: 1学员 2教练 3管理员',
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `log_type` tinyint NOT NULL COMMENT '日志类型: 1登录 2操作',
  `module` varchar(64) DEFAULT NULL COMMENT '操作模块',
  `content` varchar(255) NOT NULL COMMENT '日志内容',
  `ip` varchar(32) DEFAULT NULL COMMENT '登录IP',
  `device` varchar(64) DEFAULT NULL COMMENT '设备信息',
  `oper_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '操作时间',
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_type`,`user_id`),
  KEY `idx_oper_time` (`oper_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='系统日志表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sys_log`
--

LOCK TABLES `sys_log` WRITE;
/*!40000 ALTER TABLE `sys_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `sys_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `system_config`
--

DROP TABLE IF EXISTS `system_config`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `system_config` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '配置ID',
  `config_key` varchar(64) NOT NULL COMMENT '配置键',
  `config_value` text COMMENT '配置值（敏感项AES加密存储）',
  `description` varchar(255) DEFAULT NULL COMMENT '配置说明',
  `updated_by` bigint DEFAULT NULL COMMENT '更新人ID',
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_config_key` (`config_key`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='系统配置表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `system_config`
--

LOCK TABLES `system_config` WRITE;
/*!40000 ALTER TABLE `system_config` DISABLE KEYS */;
INSERT INTO `system_config` VALUES (1,'deepseek_api_key','OlvD91fu9TTl7m9HCNIOyjZacTfETJqleAC1wKxQjpHOkpeaxKBl/SHz2d/ap9r4r/aL0TXRXV0SJ2nvBwaNWQ==','DeepSeek API密钥',1,'2026-06-27 15:39:27','2026-06-26 10:05:50');
/*!40000 ALTER TABLE `system_config` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_notification`
--

DROP TABLE IF EXISTS `user_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '记录ID',
  `notification_id` bigint NOT NULL COMMENT '通知ID',
  `user_id` bigint NOT NULL COMMENT '用户ID',
  `user_role` smallint NOT NULL COMMENT '用户角色: 1教练/2学员',
  `is_read` smallint NOT NULL DEFAULT '0' COMMENT '是否已读: 0未读/1已读',
  `read_time` datetime DEFAULT NULL COMMENT '阅读时间',
  PRIMARY KEY (`id`),
  KEY `idx_notification_id` (`notification_id`),
  KEY `idx_user_id` (`user_id`),
  CONSTRAINT `user_notification_ibfk_1` FOREIGN KEY (`notification_id`) REFERENCES `notification` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_notification`
--

LOCK TABLES `user_notification` WRITE;
/*!40000 ALTER TABLE `user_notification` DISABLE KEYS */;
INSERT INTO `user_notification` VALUES (1,1,1,1,1,'2026-07-01 11:14:35'),(2,1,1,2,1,'2026-07-01 11:14:58'),(3,1,5,2,0,NULL),(4,2,1,1,1,'2026-07-01 11:24:20'),(5,2,1,2,1,'2026-07-01 11:24:14'),(6,2,5,2,0,NULL),(7,3,1,1,1,'2026-07-01 11:25:35'),(8,3,1,2,1,'2026-07-01 11:29:06'),(9,3,5,2,0,NULL);
/*!40000 ALTER TABLE `user_notification` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-02 15:03:28
